.footer {
  padding: 0 24px;
  &__line {
    border-bottom: 1px solid #e8eaed;
    margin-bottom: 108px;
  }
}

@media screen and (max-width: 740px) {
  .footer {
    padding: 24px 0 0 0;
    &__line {
      margin-bottom: 50px;
    }
  }
}
