.menu {
  display: none;
}

@media screen and (max-width: 740px) {
  .menu {
    display: flex;
    position: sticky;
    bottom: 0;
    z-index: 2;
    background-color: #fefefe;
    border-top: 1px solid #dadce0;
    height: 56px;
    align-items: center;
    justify-content: space-evenly;

    &-item {
      cursor: pointer;
      display: flex;
      flex-direction: column;
      align-items: center;

      &__img {
        height: 24px;
        width: 24px;
      }

      &__name {
        font-family: Google Sans, Roboto, sans-serif;
        font-size: 0.875rem;
        font-weight: 700;
        letter-spacing: 0.0178571em;
        line-height: 1.25rem;
        color: $text-secondary-color;

        &-colored {
          color: $current-link-color;
        }
      }
    }
  }
}
