.rating {
  &-head {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    color: $text-primary-color;
    font-family: "Google Sans";
    font-weight: 500;

    &__title {
      font-size: 18px;
    }

    &-btn {
      cursor: pointer;
      background: none;
      border: none;

      &__img {
        width: 24px;
        height: 24px;
      }
    }
  }

  &-data {
    display: flex;
    margin-top: 24px;
    width: 100%;

    &-scores {
      display: flex;
      flex-direction: column;
      width: 80px;
      flex-shrink: 0;

      &__number {
        color: $text-primary-color;
        font-family: Roboto;
        font-size: 56px;
        line-height: 4rem;
        font-weight: 400;
        text-align: center;
      }

      &__reviews {
        font-family: Roboto;
        font-size: 12px;
        color: $text-secondary-color;
        margin-top: 8px;
      }

      &-stars {
        display: flex;

        &__item {
          width: 16px;
          height: 16px;
          color: #01875f;
        }
      }
    }

    &-progress {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 16px;
      margin-left: 30px;

      &-item {
        display: flex;
        align-items: center;

        &__score {
          font-size: 12px;
          font-weight: 400;
          line-height: 1rem;
          font-family: Roboto;
          padding-right: 16px;
          color: $text-secondary-color;
        }

        &-bar {
          background-color: #e8eaed;
          width: 100%;
          border-radius: 9999px;
          height: 10px;

          &__filled {
            width: var(--current-width);
            background-color: #01875f;
            border-radius: 9999px;
            height: 100%;
          }
        }
      }
    }
  }
}
